.row
  .span6
    = image_tag "description.png"
  .span6
    %h3 Willkommen bei Localmove.de
    %p 
      Localmove.de ist eine Plattform die 
      %b lokale Initiativen und Projekte 
      dabei unterst端tzt Geld zu sammeln, Unterst端tzer und Sponsoren zu finden
      und sich zu organisieren.
    %h5 
      Wie kann Localmove meinem Projekt helfen?
    %p 
      Einfach 
      = link_to "ein neues Projekt eintragen" , new_project_path
      und loslegen.
    %h5 
      Was kann ich danach tun?
    %ul 
      %li
        Du kannst 端ber Crowd-Funding Geld zur Umsetzung deines Projektes oder deiner lokalen Initiative sammeln.
      %li
        Du kannst dein Projekt 端ber die eingebauten Organisationshilfen organisieren.
      %li 
        Du kannst mit Localmove.de lokale Sponsoren finden und benachrichtigen.
.row
  .span12
    #locationfinder
      = form_for :user_location ,:html  => { :class => "formtastic form-inline", :method => :get} do |f|
        .well
          %span.projects_near
            = t('startpage.projects_near')
          = f.text_field :name, :value => session[:target_city], :id => "locationsearch"
          = link_to t('startpage.project_new') , new_project_path, :class => "btn pull-right"
.row
  .span6
    = render 'partial/medium_map'
  #projectlist
    = render 'project_list', :projects => collection


= content_for :scripts do
  = render 'dragging'
