<div class="row">
	<div class="span8">
	<%= render 'partial/medium_map' %>
	</div>
	<div class="span4">
		<% letters = ('A'..'Z').to_a %>
		
			<% @projects.each do |project| %>
				
					<div class="well">
						<h4><%=image_tag 'http://www.google.com/intl/en_ALL/mapfiles/marker_green'+ letters.delete_at(0).to_s + '.png', :size => "16x16"%> <%= link_to project.title, project %></h4>
						<p><%= truncate(project.description , :length => 50 ,:separator => ' ')%></p>
					</div>
				
			<%end%>	
		

	</div>
	<div class="span12">
	<%= link_to 'New Project', new_project_path %>
	</div>
</div> 
