
.row

  -# project overview
  .span7
    = link_to 'Edit', edit_project_path(@project)
    |
    = link_to 'Back', projects_path
    %h3= @project.title
    %p= @project.description
    = render 'partial/mini_map'
  .span1

  .span4
    -if @project.image.present?
      = image_tag @project.image.url(:thumb)

  .span12
    %hr
    -#project chat
    .span4
      -@project.comments.each do |comment|
        .alert.alert-info
          -if comment.name
            %b= comment.name + ": "
          = comment.text
      .well
        = render 'comments_form'
    .span6
      -# organization tools
      %h3= t('project.organization')
      -if @project.datetime
        =render '/projects/datetime'
        -if user_signed_in?
          =render '/projects/datetime_suggestion'

      -# sponsoring, crowdfounding, other features
      %h3= t('project.support')
      %p= t('common.under-construction')
