<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @project.latitude %>
</p>

<p>
  <b>Logitude:</b>
  <%= @project.longitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @project.gmaps %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
